@tailwind base;
@tailwind components;
@tailwind utilities;










@keyframes bounce {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(-20px); }
  }
  
  .bounce-circle {
    @apply w-8 h-8 rounded-full;
    animation: bounce 1s ease-in-out infinite;
  }
  @keyframes rotate {
    0% { transform: rotateX(0) rotateY(0); }
    100% { transform: rotateX(360deg) rotateY(360deg); }
  }
  